* {
    box-sizing: border-box;
}

@keyframes rotate {
    100% {
        background-position: 15% 50%;
    }
}

:root {
    --color-primary: #00aaff;
}

.formBody {
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
    padding: 0 24px;
    background-color: var(--color-primary);
    background-image: url("tess.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #f9f9f9;
    animation: rotate 6s infinite alternate linear;
}

.formBody::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 35%);
}

.logInCard {
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 20px;
    background-color: rgb(24 21 36 / 66%);
    backdrop-filter: blur(10px);
    text-align: center;
}

.logInCard h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 12px;
    margin-top: 120px;
}

.logInCard h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 48px;
    color: rgb(255 255 255/38%);
}

.loginForm {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.loginForm > :is(input, button, select) {
    width: 100%;
    height: 56px;
    border-radius: 6px;
    border: 0;
}

.loginForm > input {
    color: rgb(255 255 255/96%);
    background-color: rgb(255 255 255/ 8%);
    font-family: inherit;
    font-size: 16px;
    padding: 0 16px;
}

.loginForm > input::placeholder {
    color: rgb(255 255 255/38%);
}

.roleSelect {
    color: rgb(255 255 255/96%);
    background-color: rgb(255 255 255/ 8%);
    font-family: inherit;
    font-size: 16px;
    padding: 0 16px;
}

.roleSelect:focus {
    color: black;
    background-color: rgb(255 255 255/ 96%);
}

.loginForm > button {
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: var(--color-primary);
    color: #f9f9f9;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    transition: all 0.375s;
}

.loginForm > .forgotPassword {
    color: var(--color-primary);
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    margin-bottom: 30px;
}

button[type="submit"] {
    background-color: #00aaff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #008ecc;
}

.backToHome,
.createAccount {
    display: block;
    margin-top: 10px;
}

.backToHome a,
.createAccount a {
    color: #e4e4e4;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 14px;
}

.backToHome a:hover,
.createAccount a:hover {
    color: white;
}

@media (width >= 448px) {
    .logInCard {
        margin: 0;
        width: 70%;
        min-width: 400px;
    }
}

@media (width >= 628px) {
    .logInCard {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0 44px;
        width: 50%;
        min-width: auto;
        max-width: 500px;
        border-radius: 0;
        flex-direction: column;
        justify-content: center;
    }
}
